<div class="actions">
	<div class='actions_wrapper offer'>
		<div class='actions_el title'><%= offer['title'] %></div>
		<div class='actions_el thumbnail'><img src="<%= offer['thumbnail']['lowres'] %>"></div>
		<div class='actions_el payout'><%= offer['payout'] %></div>
	</div>
</div>